@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width:500px;
    padding: 20px;
    height: 100vh;
    
}
.continer{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 12%);
    padding: 20px;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}
h3{
    font-weight: 700;
}
span{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 16px;
}
ul{
    list-style: none;
    width: 100%;
}
li{
    width: 100%;
    padding: 12px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
li:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}
img{
    width: 100px;
    border-radius: 50%;
}
p{
    font-size: 14px;
    font-weight: 400;
}
